.About{
    width: 100%;
    height: 100vh;
    background: url('../../assets/contact.avif');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
    
}