.MainFeed{
  height: 100vh;
  width: 100%;
 background: url('../../assets/Feedback.avif');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; 
  align-items: center;
 

  
}
.Innerdiv{
  width:800px ;
  height: 500px;
  background-color: rgb(224, 246, 207);
  padding: 20px;
  border-radius: 10px;

}

.Innerdiv h1{
  margin-bottom: 10px;
 width: 100%;
 text-align: center;
}

.Innerdiv input ,textarea{
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 15px;
  border: 0cap; 
  background-color: aliceblue;

}

.Innerdiv select{
  border: 0cap; 
  background-color: aliceblue;
  width: 100px;
  padding: 10px;
  margin-bottom: 15px;

}

.star-rating {
  
  display: flex;
  flex-direction: row-reverse; /* Reverse order for RTL languages */
  width: fit-content;
  font-size: 36px; /* Adjust star size here */
  margin-bottom: 15px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: var(--star-size);
  color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}

/* .star-rating label:before {
  content: '★';
} */

.star-rating label:hover,
.star-rating input:checked ~ label {
  color: gold;
}


