

.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/NewHome5.avif');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero-text{
    text-align: left;
    max-width: 800px; 
}

.hero-text h1{
    font-size: 70px;
    font-weight: 800;
    font-stretch: expanded;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    
}

.hero-text p{
    color: rgb(255, 255, 255);
    text-align: left;
    max-width: 600px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.75;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    
}


/* media query */

@media(max-width:700px){
    .hero-text h1{
        font-size: 48px;

    }

    .hero-text h1{
        max-width: 50px;
        font-size: 40px;
        font-weight: 800;
        font-stretch: expanded;
        font-family: "Bebas Neue", sans-serif;
        
    }

    .hero-text p{
        color: rgb(255, 255, 255);
        text-align: right;
        max-width: 100px;
        font-size: 18px;
        font-weight: 200;
        line-height: 1.75;
        font-family: "Montserrat", sans-serif;
        
    }
    

}