

.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/NewHome5.avif');
    background-size: cover;
    background-position: center;    
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: left;
    max-width: 800px; 
}

.hero-text h1{
    font-size: 80px;
    font-weight: 800;
    font-stretch: expanded;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    
}

.hero-text h1 span{
    font-size: 80px;
    font-weight: 800;
    font-stretch: expanded;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    color: rgb(63, 63, 65);
}

.hero-text p{
    color: rgb(90, 86, 86);
    text-align: left;
    max-width: 800px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.75;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    background-color: rgba(190, 255, 144, 0.5);
    border-radius: 0%;
   
}


/* media query */

@media(max-width:700px){
    

    .hero-text h1{
        font-size: 30px;

    }


    .hero-text h1 span{
        font-size: 30px;
      
    }

    .hero-text p{
        text-align: left;
        font-size: 16px;
        font-weight: 300;
    }
    .hero-text p{
        color: rgb(90, 86, 86);
        text-align: left;
        max-width: 800px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.75;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1px;
        background-color: rgba(190, 255, 144, 0.5);
        border-radius: 0%;
       
    }
 
    

}