.test{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Tesi_card{
 
 
  background-color: rgba(157, 214, 238, 0.5);
  margin: 40px 20px;
  border-radius: 5%;
 
  padding: 20px;



}

.ttt{
  font-size: 40px;
}



.Tesi_card h1{
  margin: 20px 10px;
  font-size: 30px;
  font-weight: 600;
}
.Tesi_card h2{
  margin: 10px 10px;
  font-size: 21px;
  font-weight: 400;
  font-style: italic;
}


.Tesi_card p{
  margin: 20px 10px;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.position,.TName{
  color: rgb(8, 8, 155);
  font-weight: 500;
}

.description{
  font-size: 18px;
  font-weight: 400;
}




  

  
 
  
 

  /* media query */
  @media(max-width:700px){
    .Tesi_card{
 
 
      background-color: rgba(157, 214, 238, 0.5);
      margin: 40px 5px;
      border-radius: 5%;
     
      padding: 5px;
    
    
    
    }
  }

  
  






