.loan{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url('../../assets/Loan2.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%


}

.loan_col{
    margin: 10px 5px;
    color: rgb(255, 255, 255);
    

}
.loan_col h4{
    font-size: 60px;
    text-align: center;
    font-weight: 200;

}

.loan_col ul li{
    font-size: 30px;
    font-weight: 100;
}


/* media query */

@media(max-width:850px){
    .loan{
       
        padding-left: 5%;
        padding-right: 5%
    }
    .loan_col h4{
        font-size: 40px;
        text-align: center;
        font-weight: 200;
    
    }
    .loan_col ul li{
        font-size: 20px;
        font-weight: 100;
    }

}


@media(max-width:500px){
    .loan{
        padding-top: 5%;
       
        display: inline-block;
    }

    .loan_col{
        margin: 60px 10px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .loan_col ul {
        list-style-type: none;
        
    }
    .loan_col h4{
        font-size: 50px;
    }
    .loan_col ul li{
        font-size: 25px; 
        
    }
}

