.loan{
    
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/Loan2.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    
}
.loan h2{
    font-size: 60px;
    font-weight: 800;
}








.Loan_btm{
    width: 100%;
    padding: 30px;
    text-align: center;

}

/* .main_servicel{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    
   
} */
.Loan_btm p{
    margin: 12px;

    font-size: 20px;
    font-weight: 300;
}




    

