.titlepage{
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.titles{
   
    height: 50px;
    
}
.titles h6{
    font-weight: 100;
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;


}
.titles p{
    font-weight: 400;
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.view{
    width: 200px;
    height: 50px;
    background-color: rgb(90, 45, 90);
    color: white;
    text-align: center;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;


}

.view:hover{
    background-color: rgb(87, 9, 94);
    color: orange;
    font-weight: 300;
    
}

/* media query */

@media(max-width:700px){
    .titles h6{
       
        font-size: 20px;
        word-spacing: 1px;
        letter-spacing: 0;
    
    
    }
    .titles p{
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0;
    }
    .view{
        width: 100px;
        height: 25px;
        background-color: rgb(90, 45, 90);
        color: white;
        text-align: center;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 16px;
    
    
    }
    

}