.about_summary{
    margin-left: 15%;
    margin-right: 15%;
    padding: 80px 50px;
    height: 70vh;
    background-color: white;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 3px;
    border-radius: 10px;


}

.about_summary p{
    margin-bottom: 10px;
}

.about_summary h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
}