
.insight{
    margin: 40px 20px;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 15px;
   

  
}

.insight div{
    font-size: 20px;


}

/*media query  */
@media(max-width:750px){
    .insight{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 6px;
       
    
      
    }
   
    
   
    .insight div{
        font-size: 15px;
       


    }
   
}


@media(max-width:450px){
    .insight{ 
        display: inline-block;
        /* gap: 10px; */
        text-align: center;

       
    
      
    }
    
    .insight div{
        font-size: 20px;
        


    }
    
    

}


