

.insight{
   
   
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    
   

  
}
.displayflex{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  }

.insight p{
    font-size: 22px;
    
}

.insight div{
    font-size: 50px;
    color: rgb(89, 6, 89);
    


}

/*media query  */
@media(max-width:750px){
    .insight{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 6px;
       
    
      
    }
   
    
   
    .insight div{
        font-size: 15px;
       


    }
   
}


@media(max-width:450px){
    .insight{ 
        display: inline-block;
        /* gap: 10px; */
        text-align: center;

       
    
      
    }
    
    .insight div{
        font-size: 20px;
        


    }
    
    

}


