.contact{
    margin: 80px auto;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-colum{
    flex-basis: 48%;
    color: #676767;
}

.contact-colum h3{
    font-size: 40px;
    font-weight: 300;

    color: #000F38;
    font-weight: 500;

}

.contact-colum p{
    font-size: 20px;
    font-weight: 200;
    max-width: 450px;
    list-style: 0.3;
}

.contact-colum ul li{
    display: flex;
    align-items: center;
    margin: 20px 0px;

}

.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;



}
.whats_app{
    padding: 10px 30px;
    border-radius: 5%;
    background-color: rgb(11, 208, 11);
    font-size: 16px;
    font-weight: 300;
    color: white;
   text-align: center;
    

}


.whats_app:hover{
    cursor: pointer;
}
/* media query */
@media(max-width:500px){
    .contact{
        margin: 80px auto;
        max-height: 90%;
        display: block;
        
        
        
    }
}