nav{
    width:100%; 
    color:#fbf6f6;
    padding: 10px 2px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

}
.logo{
    width: 180px;
    height: 90px;
    
}

nav ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;


}
nav ul li ul{
    display: none;
}

nav ul li:hover > ul{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #36455a;
    border-radius: 5px;
    
    display: initial;
    

}
nav ul li ul li{
    width: 100px;
    margin: 15px;
}

.dark-nav{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color: black;
    padding: 20px;

}

/* nav ul li:hover>ul{
    display: initial;
} */





.menu-icon{
    display:none;
}

.backbutton{
    display: none;
}



/* .dark-nav{
    background:#212EA0;
    transition: 0.5s;
} */

/* media query */
@media(max-width:1000px){
    nav ul li{
        margin:3px 10px;
        font-size:14px;
    }
    h1{
        font-size: 18px;
    }

}
@media(max-width:700px){
   
  
    nav ul{
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        background-color: #fff;
        z-index: 0;
        width: 180px;
        padding-top: 70px;
        transition: 0.5s;
        color: black;
        

    }
    nav ul li{
        display: block;
        margin: 25px ;
        font-size: 20px;
       
       
    }
    .menu-icon{
        display: block;
        width:30px;
        cursor: pointer;
       
        
    }
    .hide-mobile-menu{
        right:-200px;
    }
   
    nav ul li:hover > ul{
        z-index: 1;
        position: relative;
       
    }
    .backbutton{
        position: absolute;
        right: 140px;
        top: 50px;
        font-weight: 800;
        color: rgb(20, 20, 20);
        font-size: 20px;
        display: block;
        z-index: 0;
    }

    .dark-nav{
        background-color: rgb(45, 36, 36);
        transition: 0.5s;
        color: rgb(253, 252, 252);
        padding: 20px;
    
    }
    .btn{
        font-size: 20px;
    }
   

    
   
}

