@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Whisper&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Whisper&display=swap');





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;


}

body{
  background: #f5f5f5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img{
  width: 20px;
  margin-left: 10px;
}

.display-flex{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}




/* media query */
@media(max-width:1200px){
  .container{
    padding-left: 4%;
    padding-right: 4%;
  }
  .btn{
    padding:7px 10px;
    font-size: 12px;
  }
  
}

@media(max-width:650px){
  .displayflex{
    width: 80%;
    display:inline-block;
    text-align: center;
    /* font-size: 30px */
    
    
  }
  .btn{
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
   
  }
  
}
