

.Bank{
    margin-top: 50px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 1%;
   
    background-color: rgb(187, 191, 187);
}
.Main h1{
    text-align: center;
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 36px;
}

.Main p{
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
.Main h2{
    text-align: center;
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 42px;
}

.Bank div img{
    width: 130px;
    height: 50px;
    margin: 10px;

}





.Bank__{
    background: url('../../assets/partner1.jpg');
    background-position: center;
    background-size: cover;
}

.BankOther{
   
    color: rgb(255, 255, 255);

    margin-bottom: 20px;
    margin-top: 40px;
    
}

.BankHeading{
    font-size: 38px;
}

.Bankdesc{
    font-size: 22px;
}

/* media query */

@media(max-width:700px){
    .Bank{
        margin-top: 50px;
        width: 95%;
        padding: 10px 10px;
        border-radius: 1%;
       
        background-color: rgb(187, 191, 187);
    }
    .Main h1{
    text-align: center;
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 28px;
}

.Bank div img{
    width: 60px;
    height: 30px;
    margin: 10px;

}
  


}
